*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    background-color: rgb(6, 6, 6, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.header{
    padding: 10px;

}
#a{
    display: flex;
}
.header img{
    border-radius: 50%;
    height: 35px;
}

#a h5{
    white-space: nowrap;
    padding-top: 5px;
    color: #fff;
}

.col-md-5 ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: #fff;
}

#bg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.row{
    margin: 0 !important;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body h1{
    padding-top: 200px;
    display: flex;
    color: green;
}
.body h1 .white{
    color: #fff;
    padding-right: 5px;
}

button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(6, 6, 6, 0);
    border-radius: 10px !important;
    padding: 5px;
    border: #fff solid 0.1px;
    color: #fff;
}