*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
}

#sidebar-toggle{
    display: none;
}

.sidebar{
    width: 250px;
    background-color: #554381;
    color: #fff;
    height: 100vh;
    transition: width 0.3s;
    overflow: hidden;
    position: fixed;
}

.sidebar .logo{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 20px;
}

.sidebar .logo-text{
    white-space: nowrap;
    transition: opacity 0.3s;
    font-weight: 600;
    font-size: 30px;
    margin-left: 0;
}

.sidebar .logon{
    margin-left: 10px;
    white-space: nowrap;
    transition: opacity 0.3s;
    font-weight: 600;
    font-size: 30px;
}

.nav-list{
    list-style: none;
    margin-top: 20px;
}
ul{
    padding-left: 0 !important;
}
.nav-list li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 12px 20px;
}

.nav-list li a:hover{
    background-color: #1f2937;
}

.nav-list .text{
    margin-left: 15px;
    white-space: nowrap;
    transition: opacity 0.3s;
}
.header{
    margin-left: 215px;
    width: calc(100% - 250px);
    transition: margin-left 0.3s, width 0.3s;
    z-index: 10000;
    margin-top: 10px;
    width: 70px;
}
.header-items{
    background-color: #3b2560;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 5px rgb(0, 0, 0,0.1);
    z-index: 999;
    border-radius: 50% !important;
    height: px;

}

.toggle-btn{
    font-size: 30px;
    cursor: pointer;
    margin-right: 15px;
}


#sidebar-toggle:checked ~ .sidebar{
    width: 70px;
}

#sidebar-toggle:checked ~ .sidebar .logo-text,
#sidebar-toggle:checked ~ .sidebar .text{
    opacity: 0;
}

#sidebar-toggle:checked ~ .header{
    margin-left: 30px;
    width: 70px;
}

.content-body{
    padding: 20px;
    padding-top: 30px;
}

.input{
    padding: 20px;
}
#a{
    padding: 20px;
    color: #ccc;
}

.input1{
    border-radius: 5px;
}

#sidebar-toggle:checked ~ .sidebar .input,
#sidebar-toggle:checked ~ .sidebar p{
    opacity: 0;
}