.content{
    position: relative;
    height: 200vh;
}

.first{
    position: fixed;
    font-size: 60px;
    top: 150px;
    left: 200px;
    background-color: #ccc;
    padding: 50px;
}

.second{
    position: absolute;
    font-size: 60px;
    top: 260px;
    left: 500px;
    background-color: rgb(6, 79, 76);
    padding: 50px;
}

.third{
    position: sticky;
    text-align: center;
    font-size: 60px;
    width: 220px;
    top: 150px;
    left: 900px;
    padding: 50px;
    background-color: orange;
}