*{
    margin: 0;
}

.content{
    height: 200vh;
}
.main-header{
    display: flex;
    align-items: center;
}
.main-header img{
    height: 90px;
}

.main-header h1{
    text-align: center;
    width: 100%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.links{
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.links a{
    color: rgb(2, 120, 108);
    padding: 15px;
    font-size: 20px;
}

.ads{
    width: 100%;
    margin: 10px;
    height: 80px;
    background: linear-gradient(to right, rgb(2, 120, 108), #ccc, #ccc, #ccc);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-body{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 20px;
}

.first, .second, .third{
    width: 33%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 20px;
}

p, h4{
    text-align: center;
    padding-bottom: 20px;
}

.main-body li{
    padding: 10px;
}

.first{
    background-color: rgb(182, 192, 208);
}
.second{
    background-color: rgb(208, 182, 200);
}
.third{
    background-color: rgb(202, 182, 208);
}
form{
    padding: 20px;
}
.find input{
    width: 90%;
}
.find2{
    padding-left: 30%;
}
.line{
    margin-top: 20px;
    width: 100%;
    height: 1px;
    background-color: black;
}
